@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-tap-highlight-color: transparent;
  --swiper-theme-color: #ffffff !important;
}

@layer base {
  h1 {
    @apply font-medium text-3xl;
  }
  h2 {
    @apply font-medium text-2xl;
  }
  h3 {
    @apply font-medium;
  }
}

.scroll_categories {
  @apply h-auto overflow-y-auto;
}

.scroll_categories::-webkit-scrollbar {
  @apply w-1.5;
}

.scroll_categories::-webkit-scrollbar-track {
  @apply my-4 bg-transparent;
}

.scroll_categories::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-md;
}

.scroll_filters {
  @apply h-auto overflow-y-auto mr-2;
}

.scroll_filters::-webkit-scrollbar {
  @apply w-2;
}

.scroll_filters::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.scroll_filters::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-md;
}

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-track {
  @apply bg-white mb-1;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-400 rounded-md;
}

.swiper-pagination-horizontal {
  bottom: 0 !important;
}
